<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot password</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="public/css/styles.css" />
</head>
<body>
  <div class="container">
    <% if (messages.success) { %>
      <div class="alert alert-success"><%- messages.success %></div>
    <% } else if (messages.error) { %>
      <div class="alert alert-danger"><%- messages.error %></div>
    <% } %>

    <form method="POST">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" name="emailAddress" class="form-control mb-3" placeholder="Email" required
        autofocus />
      <button type="submit" class="btn btn-lg btn-primary btn-block">Recover password</button>
    </form>
  </div>

  <script src="/public/js/generateError.js"></script>
  <script src="/public/js/forgotPassword.js"></script>
</body>
</html>