<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Private Page</title>
  <style>
    body {
      font-family: Roboto, sans-serif;
      background-color: #f5f5f5;
    }

    div.container {
      width: 90%;
      margin: 0 auto;
    }

    h1 {
      text-align: center;
    }

    p span {
      font-weight: bold;
    }

    button {
      display: block;
      border: none;
      height: 42px;
      width: 10rem;
      font-size: 1.05em;
      cursor: pointer;
      background-color: #007bff;
      border-radius: 5px;
      color: #fff;
      outline: none;
      transition: .1s all ease-in;
    }

    button:hover {
      background-color: #006bdd;
    }

    @media screen and (max-width: 500px) {
      div.container {
        width: 98%;
      }
    }
  </style>
</head>
<body>

  <div class="container">
    <h1>Hello, <%- user.username %>!</h1>
    <hr />
    <p>Your ID: <span><%- user.id %></span></p>
    <button>Log out</button>
  </div>

  <script>
    (function() {
      const button = document.querySelector('button');

      button.addEventListener('click', () => {
        fetch('/logout', {
          method: 'DELETE',
        })
          .then(() => location.href = '/login');
      });
    })();
  </script>
</body>
</html>