<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="public/css/styles.css" />
</head>

<body>

  <div class="container">
    <% if (messages.error) { %>
    <div class="alert alert-danger"><%- messages.error %></div>
    <% } %>

    <form method="POST">
      <h1 class="h3 mb-3 font-weight-normal text-center">Sign up</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required
        autofocus />
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required
        autofocus />
      <label for="inputPassword1" class="sr-only">Password</label>
      <input type="password" id="inputPassword1" name="password1" class="form-control" placeholder="Password"
        required minlength="8" />
      <label for="inputPassword2" class="sr-only">Repeat Password</label>
      <input type="password" id="inputPassword2" name="password2" class="form-control" placeholder="Repeat Password"
        required minlength="8" />
      <div class="mb-3">
        <p><small>Already have an account ? <a href="/login">Sign in.</a></small></p>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>

  <script src="public/js/generateError.js"></script>
  <script src="public/js/register.js"></script>
</body>

</html>