<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="public/css/styles.css" />
  <style>
    p:first-child {
      margin-bottom: 0;
    }
  </style>
</head>

<body>

  <div class="container">
    <% if (messages.success) { %>
    <div class="alert alert-success"><%- messages.success %></div>
    <% } else if (messages.error) { %>
    <div class="alert alert-danger"><%- messages.error %></div>
    <% } %>

    <form method="POST">
      <h1 class="h3 mb-3 font-weight-normal text-center">Sign in</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required
        autofocus />
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required />
      <div class="mb-3">
        <p><small>Don't have an account yet ? <a href="/register">Sign up.</a></small></p>
        <p><small>Forgot your password ? <a href="/forgotPassword">Recover it here.</a></small></p>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>

  <script src="public/js/generateError.js"></script>
  <script src="public/js/login.js"></script>
</body>

</html>